# Ignore virtual environment directories
.venv

# Ignore all zip files
*.zip

# Ignore Python cache directories
*__pycache__

*.pt
*.safetensors
.env
.gitattributes

# Documentation
*.rst
docs/_sources
docs/_build
docs/.buildinfo